td {
    font-family: sans-serif, Arial, Verdana, "Trebuchet MS";
    font-size: 10px;
}
th {
    font-family: sans-serif, Arial, Verdana, "Trebuchet MS";
    font-size: 10px;
}

.row-black {
    background-color: #000000;
}

.row-black td {
    color: #fff;
    font-size: 14px;
}

.row-black th {
    color: #fff;
}


.row-gray {
    background-color: #d3d3d3;
}
.row-gray td {
    color: #000;
    border-bottom: 1px solid #000;
}

.header-gray {
    background-color: gray;
    color:#fff;
    border-bottom: 1px solid #000;
}
.cell-gray{
    background-color: lightgray;
    color:#000;
}

.report_type {
    font-size:22px;
    font-weight: bold;
}
.block_enter {
    height:10px;
}
.table-bordered {
    border: 1px solid #000;

}
.table-bordered td,.table-bordered th {
    padding-left: 3px;
    padding-right: 3px;
    padding-top: 1px;
    padding-bottom: 1px;

}
.table-stripped tr:nth-child(2n+1) td{
    background-color: #ccc;
}
.dotted-white {
    border-right:1px dotted #fff;
}

.dotted-black {
    border-right:1px dotted #000;
}
.text-12{
    font-size: 12px;
}
.text-14{
    font-size: 14px;
}
.text-13{
    font-size: 13px;
}
.bold {
    font-weight: bold;
}
.border-down{
    border-bottom: 1px solid #000;
}