/*===colors of auto page*/
/*sidebar*/
.sidebar-menu-widget ul li.active,
.sidebar-menu-widget ul li:hover{
    border-left: 4px solid #d3c646;
}

/*menu color when active*/
.menu-item.active p{
    color: #d3c326 !important;
}

/*table log*/

/*btn refresh and transaction*/
.btn-success{
    background: #bbab17;
    border-color: #bbab17;
}
.btn-success.active.focus,
.btn-success.active:focus,
.btn-success.active:hover,
.btn-success.focus:active,
.btn-success:active:focus,
.btn-success:active:hover,
.open > .dropdown-toggle.btn-success.focus,
.open > .dropdown-toggle.btn-success:focus,
.open > .dropdown-toggle.btn-success:hover,
.btn-success.focus,
.btn-success:focus{
    background: #bbab17;
}
/*btn actions edit delete save*/
.btn-action.active {
    background-color: #ddd374;
    border-color: #ddd374;
}

.btn-action.active:hover{
    background-color:#787878;
    border-color: #787878;
}

/*table log*/
.table-app table th{
    background: #c0b752;
}

.table-striped > tbody > tr:nth-of-type(2n+2) {
    background-color: #f2f0db;
}

.table-app table > tbody > tr.active{
    background-color: #e2dda6 !important;
    border: 1px solid #b3a423 !important;
}
.table-app table > tbody > tr.active td{
    background-color: inherit !important;
    border-top: 1px solid #b3a423 !important;
    border-bottom: 1px solid #b3a423 !important;
    border-right: none;
    border-left: none;
}

.table-app table > tbody > tr:hover td{
    border-top: 1px solid #b3a423 !important;
    border-bottom: 1px solid #b3a423 !important;
    border-right: none;
    border-left: none;
}
.table-app table > tbody > tr:hover{
    border: 1px solid #b3a423 !important;
    background-color: #efefef !important;
}

/*datepiker styles*/
.datepicker td.active, .datepicker td.active:hover {
    background:  #ddd477 !important;
}

.glyphicon-calendar {
    color: #b3a423;
}

.modal-header{
    background: #b3a423;
}
.btn-add:hover{
    background-color:#d3c646;
    border-color: #d3c646;
}
.more{
    border: 1px solid #b3a423;
}
.plus-text,
.minus-text,
.plus-text i,
.minus-text i{
    color: #b3a423;
}
