/*===colors of auto page*/
/*sidebar*/
.sidebar-menu-widget ul li.active,
.sidebar-menu-widget ul li:hover{
    border-left: 4px solid #5285c6;
}

/*menu color when active*/
.menu-item.active p{
    color: #3f78bf !important;
}

/*table log*/

/*btn refresh and transaction*/
.btn-success{
    background: #3e79bf;
    border-color: #3e79bf;
}
.btn-success.active.focus,
.btn-success.active:focus,
.btn-success.active:hover,
.btn-success.focus:active,
.btn-success:active:focus,
.btn-success:active:hover,
.open > .dropdown-toggle.btn-success.focus,
.open > .dropdown-toggle.btn-success:focus,
.open > .dropdown-toggle.btn-success:hover,
.btn-success.focus,
.btn-success:focus{
    background: #3e79bf;
}
/*btn actions edit delete save*/
.btn-action.active {
    background-color: #a1c6f3;
    border-color: #a1c6f3;
}

.btn-action.active:hover{
    background-color:#787878;
    border-color: #787878;
}

/*table log*/
.table-app table th{
    background: #5285c6;
}

.table-striped > tbody > tr:nth-of-type(2n+2) {
    background-color: #e9f3ff;
}

.table-app table > tbody > tr.active{
    background-color: #c8ddf8 !important;
    border: 1px solid #2a7add !important;
}
.table-app table > tbody > tr.active td{
    background-color: inherit !important;
    border-top: 1px solid #2a7add !important;
    border-bottom: 1px solid #2a7add !important;
    border-right: none;
    border-left: none;
}

.table-app table > tbody > tr:hover td{
    border-top: 1px solid #2a7add !important;
    border-bottom: 1px solid #2a7add !important;
    border-right: none;
    border-left: none;
}
.table-app table > tbody > tr:hover{
    border: 1px solid #2a7add !important;
    background-color: #efefef !important;
}

/*datepiker styles*/
.datepicker td.active, .datepicker td.active:hover {
    background:  #a1c7f4 !important;
}

.glyphicon-calendar {
    color: #2a7add;
}

.modal-header{
    background: #2a7add;
}
.btn-add:hover{
    background-color:#5285c6;
    border-color: #5285c6;
}
.more{
    border: 1px solid #2a7add;
}
.plus-text,
.minus-text,
.plus-text i,
.minus-text i{
    color: #2a7add;
}
